<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= task[:completed] == true ? "[X] " : "[ ]" %>
      <%= link_to task[:title], task_path(task) %>
      <%= link_to "Delete", delete_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new task", new_path %>
